<?xml version="1.0" encoding="UTF-8"?>
<openbox_menu>
  <!-- Note: for localization support of menu items "client-menu" has to be removed here -->
  <menu id="client-menu">
    <item label="Tile Left" icon="/usr/share/icons/Adwaita/symbolic/actions/sidebar-show-right-symbolic-rtl.svg">
      <action name="SnapToEdge" direction="left"/>
    </item>
    <item label="Tile Right" icon="/usr/share/icons/Adwaita/symbolic/actions/sidebar-show-right-symbolic.svg">
      <action name="SnapToEdge" direction="right"/>
    </item>
    <item label="Minimize" icon="/usr/share/icons/Adwaita/symbolic/ui/window-minimize-symbolic.svg">
      <action name="Iconify"/>
    </item>
    <item label="Maximize" icon="/usr/share/icons/Adwaita/symbolic/ui/window-maximize-symbolic.svg" >
      <action name="ToggleMaximize"/>
    </item>
    <item label="Fullscreen" icon="/usr/share/icons/Adwaita/symbolic/actions/view-fullscreen-symbolic.svg">
      <action name="ToggleFullscreen"/>
    </item>
    <item label="Roll Up/Down" icon="/usr/share/icons/Adwaita/symbolic/actions/go-bottom-symbolic.svg">
      <action name="ToggleShade"/>
    </item>
    <item label="Decorations" icon="/usr/share/icons/Adwaita/symbolic/actions/view-conceal-symbolic.svg">
      <action name="ToggleDecorations"/>
    </item>
    <item label="Always on Top" icon="/usr/share/icons/Adwaita/symbolic/actions/view-pin-symbolic.svg">
      <action name="ToggleAlwaysOnTop"/>
    </item>
    <!--
    Any menu with the id "workspaces" will be hidden
    if there is only a single workspace available.
  -->
    <menu id="workspaces" label="Workspace" icon="/usr/share/icons/Adwaita/symbolic/ui/focus-windows-symbolic.svg">
      <item label="Move Left" icon="/usr/share/icons/Adwaita/symbolic/actions/go-next-symbolic-rtl.svg">
        <action name="SendToDesktop" to="left"/>
      </item>
      <item label="Move Right" icon="/usr/share/icons/Adwaita/symbolic/actions/go-next-symbolic.svg">
        <action name="SendToDesktop" to="right"/>
      </item>
      <separator/>
      <item label="Always on Visible Workspace" icon="/usr/share/icons/Adwaita/symbolic/actions/view-paged-symbolic.svg">
        <action name="ToggleOmnipresent"/>
      </item>
    </menu>
    <!--
    openbox default workspace selector
    to use replace above workspace menu with the example below
    the label is required, but you can change the text.

    <menu id="client-send-to-menu" label="Send to..." />
  -->
    <item label="Close" icon="/usr/share/icons/Adwaita/symbolic/ui/window-close-symbolic.svg">
      <action name="Close"/>
    </item>
  </menu>
  <menu id="root-menu" label="root-menu">
    <item label="Firefox" icon="firefox">
      <action name="Execute">
        <command>firefox</command>
      </action>
    </item>
    <item label="Terminal" icon="foot">
      <action name="Execute">
        <command>foot</command>
      </action>
    </item>
    <item label="VLC media player" icon="vlc">
      <action name="Execute">
        <command>/usr/bin/vlc --started-from-file</command>
      </action>
    </item>
    <item label="Obsidian" icon="obsidian">
      <action name="Execute">
        <command>/opt/Obsidian/obsidian</command>
      </action>
    </item>
    <item label="KeepassXC" icon="keepassxc">
      <action name="Execute">
        <command>keepassxc</command>
      </action>
    </item>
    <item label="GlobalProtect VPN" icon="com.yuezk.qt.gpclient">
      <action name="Execute">
        <command>env QT_AUTO_SCREEN_SCALE_FACTOR=1 /usr/bin/gpclient</command>
      </action>
    </item>
    <item label="Google Earth" icon="/usr/share/icons/MoreWaita/scalable/apps/google-earth.svg">
      <action name="Execute">
        <command>/opt/google/earth/pro/google-earth-pro</command>
      </action>
    </item>
    <item label="Start Syncthing" icon="/usr/share/icons/MoreWaita/scalable/apps/syncthing.svg">
      <action name="Execute">
        <command>syncthing serve --no-browser --logfile=default</command>
      </action>
    </item>
    <item label="Syncthing Web UI" icon="/usr/share/icons/MoreWaita/scalable/apps/syncthing.svg">
      <action name="Execute">
        <command>syncthing --browser-only</command>
      </action>
    </item>
    <item label="GTK Settings" icon="/usr/share/icons/Adwaita/symbolic/categories/preferences-other-symbolic.svg">
      <action name="Execute">
        <command>nwg-look</command>
      </action>
    </item>
    <item label="Labwc Tweaks" icon="labwc">
      <action name="Execute">
        <command>labwc-tweaks</command>
      </action>
    </item>
    <item label="Reconfigure" icon="labwc">
      <action name="Reconfigure"/>
    </item>
    <item label="Exit labwc" icon="/usr/share/icons/Adwaita/symbolic/actions/system-log-out-rtl-symbolic.svg">
      <action name="Exit"/>
    </item>
    <item label="Lock screen" icon="/usr/share/icons/Adwaita/symbolic/status/system-lock-screen-symbolic.svg">
      <action name="Execute" command="gtklock"/>
    </item>
    <item label="Poweroff" icon="/usr/share/icons/Adwaita/symbolic/actions/system-shutdown-symbolic.svg">
      <action name="Execute" command="systemctl -i poweroff"/>
    </item>
  </menu>
</openbox_menu>
